:root {
  --primary-color: #072245;
  --secondary-color: #BC9631;
  --third-color: #203E66;
  --fourth-color: #072245;
  --primary-color-light: #203E66;
  --primary-color-dark: #04162E;
  --secondary-color-light: #D4B45C;
  --secondary-color-dark: #8E7325;

  --contrast-color: #BC9631;

  --text-color: #072245;
  --light-color: #CECDD0;
  --light-1: #C8C7CB;
  --light-2: #EBECEE;
  --light-3: #F5F6F7;

  --muted-color: #B6B8BD;

  --white: #FFFFFF;
}

* {
  transition: 0.2s;
}

html {
  font-size: 20px;
  scroll-padding-top: 92px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  animation: fadeInPage 500ms forwards;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  color: var(--primary-color);
  font-weight: 900;
}

img {
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: auto;
}

figure {
  margin-bottom: 0;
}

footer {
  background-color: var(--primary-color);
}
footer a:hover {
  opacity: 0.75;
}

.fw-bold,
b {
  font-weight: 800 !important;
}

.caret li {
  position: relative;
  padding-left: 6px;
  list-style: none;
}
.caret li::before {
  content: "\f231";
  font-family: "bootstrap-icons";
  position: absolute;
  top: -0.6em;
  left: -1em;
  color: var(--secondary-color);
  font-size: 1.6em;
  transform: translateY(10px) !important;
}

.grid {
  display: grid;
}

/* Button */
.button {
  background-color: var(--secondary-color);
  color: var(--text-color) !important;
  border: none !important;
  font-family: "Inter", sans-serif;
  font-size: 1.25em;
  font-weight: 900;
  border-radius: 0.5em;
  line-height: 1;
  padding: 0.5em 1.5em;
  text-decoration: none;
  box-shadow: 0 -4px rgba(0, 0, 0, 0.05) inset;
  transition: 0.3s ease-in;
}
.button:hover {
  transition: 0.3s ease-in;
  background-color: var(--primary-color);
  box-shadow: 0 4px rgba(0, 0, 0, 0.05) inset;
}
.button.alt {
  background-image: linear-gradient(to top, var(--primary-color) 50%, var(--primary-color-light) 51%);
  color: white !important;
  border: 2px solid var(--primary-color) !important;
}
.button.alt:hover {
  background-image: linear-gradient(to bottom, var(--primary-color) 50%, var(--primary-color-light) 51%);
}
.button.promo {
  color: var(--text-color) !important;
  background-image: linear-gradient(to top, #BC9631 50%, #D4B45C 51%);
}
.button.promo:hover {
  background-image: linear-gradient(to bottom, #BC9631 50%, #D4B45C 51%);
}

/* ========================
	CTA - PRODUCTS
======================== */
.products {
  position: relative;
}
@media (max-width: 1399px) {
  .products > .container {
    max-width: 100%;
  }
}
.products .productsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2em;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1399px) {
  .products .productsGrid {
    gap: 1em;
  }
}
@media (max-width: 767px) {
  .products .productsGrid {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .products .productsGrid [data-offer=promo] {
    order: 2;
  }
  .products .productsGrid [data-offer=mid] {
    order: 3;
  }
  .products .productsGrid [data-offer=basic] {
    order: 1;
  }
}
.products .title {
  text-align: center;
  margin-bottom: 0.75em;
  font-size: 2.25em;
}
@media (max-width: 599px) {
  .products .title {
    font-size: 1.25em;
  }
}
.products a {
  text-decoration: none;
  color: var(--text-color);
}
.products .item {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 3px;
  color: var(--text-color);
  background-color: white;
  border-radius: 1em;
  overflow: hidden;
  border: 2px solid var(--secondary-color);
  box-shadow: var(--bs-box-shadow-sm);
}
.products .item:hover {
  scale: 1.025;
}
.products .item .wrapper {
  border-radius: 18px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .products .item .wrapper {
    display: grid;
    grid-template-areas: "header header" "title info" "img info" "img totals" "footer footer";
    grid-template-columns: 1fr 1fr;
    align-items: center;
    -moz-column-gap: 0.5em;
         column-gap: 0.5em;
    padding: 0.5em 0;
  }
}
.products .item .item-header {
  grid-area: title;
  padding: 0.25em 0.5em;
  background-color: var(--secondary-color);
  font-weight: 800;
  color: white;
}
@media (max-width: 767px) {
  .products .item .item-header {
    background-color: transparent;
    font-size: 0.9em;
    padding: 0;
  }
}
.products .item .item-img {
  grid-area: img;
}
.products .item .item-img .supply {
  padding: 1em 0.5em;
  text-align: center;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .products .item .item-img .supply {
    font-size: 0.8em;
    padding: 0;
  }
}
.products .item .item-img .supply b {
  display: block;
  font-size: 1.75em;
}
@media (max-width: 767px) {
  .products .item .item-img .supply b {
    font-size: 1.25em;
  }
}
.products .item .item-img img {
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
}
.products .item .item-info {
  grid-area: info;
}
.products .item .item-info .price {
  display: flex;
  text-align: start;
  gap: 0.25em;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  line-height: 1;
}
.products .item .item-info .price b {
  font-size: 4em;
  text-align: center;
}
@media (max-width: 767px) {
  .products .item .item-info .price b {
    font-size: 2.8em;
    letter-spacing: -0.06em;
  }
}
.products .item .item-info .price sup {
  font-size: 0.45em;
  top: -0.5em;
}
.products .item .item-info .price span {
  font-weight: 800;
}
@media (max-width: 767px) {
  .products .item .item-info .price span {
    font-size: 0.65em;
  }
}
.products .item .item-info .savings {
  font-size: 0.7em;
  font-weight: 800;
}
@media (max-width: 767px) {
  .products .item .item-info .savings {
    font-size: 0.65em;
  }
}
.products .item .item-info .savings > div {
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.4196078431);
}
.products .item .item-info .savings > div:first-child {
  border-top: 1px dashed rgba(0, 0, 0, 0.4196078431);
  color: var(--primary-color);
}
.products .item .item-info .savings > div:nth-child(2) {
  display: none;
}
@media (max-width: 767px) {
  .products .item .item-info .savings > div {
    padding: 0.5em 0;
  }
}
.products .item .item-info .savings span {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
  line-height: 1;
}
@media (max-width: 767px) {
  .products .item .item-info .savings span {
    letter-spacing: -0.4px;
  }
}
.products .item .item-info .savings span::before {
  content: "\f270";
  font-family: "bootstrap-icons";
  font-size: 1.5em;
  font-weight: normal;
}
@media (max-width: 767px) {
  .products .item .item-info .savings span::before {
    font-size: 1em;
  }
}
.products .item .item-buy {
  grid-area: footer;
}
.products .item .item-buy .button {
  color: white !important;
  padding: 0.65em;
  margin: 0.5em 0.25em;
}
@media (max-width: 767px) {
  .products .item .item-buy .button {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.15em;
  }
}
.products .item .item-buy .button span {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
.products .item .item-buy .button span::before {
  content: "\f23e";
  font-family: "bootstrap-icons";
  font-weight: normal;
  margin-top: -0.1em;
}
.products .item .item-buy .card-flags {
  max-width: 220px;
  margin-bottom: 0.5em;
}
@media (max-width: 767px) {
  .products .item .item-buy .card-flags {
    display: none;
  }
}
.products .item .item-totals {
  grid-area: totals;
  font-size: 0.9em;
  padding-bottom: 1em;
}
@media (max-width: 767px) {
  .products .item .item-totals {
    font-size: 0.8em;
  }
}
.products .item .item-totals .totals s {
  text-decoration-color: red;
  text-decoration-thickness: 2px;
}
.products .item .item-totals .totals span {
  color: var(--contrast-color);
}
.products .item .item-totals .shipping {
  font-weight: 800;
  text-transform: uppercase;
}
.products .item .item-totals .shipping span {
  color: #dc3545;
}
.products .item.promo {
  color: white;
  background-color: white;
  text-shadow: 0px 2px rgba(0, 0, 0, 0.6392156863);
  border: 2px solid var(--primary-color);
}
.products .item.promo .wrapper {
  background-color: var(--primary-color);
}
@media (max-width: 767px) {
  .products .item.promo .wrapper {
    grid-template-areas: "header header" "img info" "img totals" "footer footer";
  }
}
.products .item.promo .item-header {
  grid-area: header;
  background-color: white;
  color: var(--primary-color);
  text-shadow: none;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .products .item.promo .item-header {
    margin: -0.55em 0 0.5em;
    padding: 0.25em;
  }
}
.products .item.promo .item-img img {
  max-height: 240px;
}
.products .item.promo .item-info .savings > div {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.4196078431);
}
.products .item.promo .item-info .savings > div:first-child {
  color: #BC9631;
  border-top: 1px dashed rgba(255, 255, 255, 0.4196078431);
}
.products .item.promo .item-info .savings > div:nth-child(2) {
  display: block;
}
.products .item.promo .item-buy .button {
  color: var(--text-color) !important;
  background-image: linear-gradient(to top, #BC9631 50%, #D4B45C 51%);
  text-shadow: none;
}
.products .item.promo .item-buy .button:hover {
  background-image: linear-gradient(to bottom, #BC9631 50%, #D4B45C 51%);
}
.products .item.promo .item-totals .shipping {
  color: #BC9631;
}
.products .item.promo .item-totals .shipping span {
  color: #BC9631;
}

.no-thanks {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: var(--text-color);
  font-size: 16px;
  max-width: 600px;
  text-decoration: none;
}

@media (max-width: 475px) {
  .accordion-button {
    font-size: 1rem !important;
  }
}
.accordion-button:not(.collapsed) {
  background-color: white;
  color: var(--text-color);
}
.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem var(--secondary-color);
}

.bi-check-circle {
  color: var(--secondary-color);
}

/* Steps */
#steps {
  background-color: var(--primary-color-dark);
  color: white;
}
#steps h1 {
  color: white;
}
#steps h1 span {
  color: var(--contrast-color);
}
#steps .step {
  position: relative;
  padding: 0.2em 0.8em;
  white-space: nowrap;
  border-radius: 0.2em;
}
#steps .step.current {
  background-color: var(--primary-color-light);
  color: var(--white);
  font-weight: 800;
}
@media (max-width: 599px) {
  #steps .step {
    font-size: 0.8em;
    padding: 0.2em 0.4em;
  }
}
#guarantee {
  background-color: var(--light-3);
  color: var(--text-color);
}
#guarantee h2 {
  color: var(--text-color);
  font-size: 1.5rem;
  line-height: 1.3;
}
#guarantee h2 span {
  color: var(--primary-color);
  display: block;
  font-size: 1.5em;
  line-height: 1.2;
  margin-top: 0.1em;
}
#guarantee p {
  font-size: 0.78rem;
  line-height: 1.8;
  opacity: 0.8;
}
#guarantee .guarantee-badge-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
#guarantee .guarantee-badge-col img {
  max-width: 210px;
}
#guarantee .guarantee-badges-row {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  margin-top: 2rem;
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}
#guarantee .guarantee-badges-row img {
  max-width: 600px;
  width: 100%;
}
@media (max-width: 767px) {
  #guarantee .guarantee-badge-col img {
    max-width: 140px;
    margin-bottom: 1.5rem;
  }
}

#faq {
  background-image: linear-gradient(45deg, var(--primary-color-light), var(--primary-color));
  color: white;
}
#faq .accordion {
  position: relative;
  z-index: 2;
}
#faq .accordion-item {
  border-radius: 0.5em;
  margin-bottom: 0.25em;
  border: 0;
}
#faq .accordion-button {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  border-radius: 0.25em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  color: var(--third-color);
}
#faq .accordion-body {
  padding-bottom: 1.5em;
  font-weight: 500;
}

.fw-bolder {
  font-weight: 900;
}

.triangle {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--secondary-color);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin: -50px auto -30px;
  font-size: 100px;
  line-height: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .triangle {
    margin: 0 auto -25px;
  }
  .triangle::before {
    font-size: 0.45em;
  }
}

/* Purchases Notifications */
.purchases-disclaimer {
  position: fixed;
  right: -800px;
  bottom: 20px;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color-dark);
  color: white;
  border-radius: 8px;
  font-size: 1em;
  font-style: italic;
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.6s;
  z-index: 999;
  overflow: visible;
}
@media (max-width: 767px) {
  .purchases-disclaimer {
    font-size: 0.8em;
    line-height: 1;
    padding: 0.25rem 0.5rem;
    max-width: 220px;
  }
}

.purchases-box {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
}
.purchased-bottle {
  flex-shrink: 0;
  width: 60px;
}
.purchases-box img {
  width: 60px;
  height: auto;
}
@media (max-width: 767px) {
  .purchased-bottle {
    width: 35px;
  }
  .purchases-box img {
    width: 35px;
  }
}

/* Pages */
footer .list-inline-item a.link-light:hover {
  color: #000 !important;
}

footer p {
  font-weight: 400;
  font-size: 0.7rem;
}

#upsell1 .no-thanks {
  max-width: 500px;
  margin: 30px auto;
  color: var(--text-color);
  display: block;
  text-align: center;
}

#references ol {
  color: var(--text-color);
  font-size: 0.9em;
  font-weight: 400;
}

@media (max-width: 768px) {
  .cta-title {
    font-size: 1.25rem;
  }
}

@keyframes fadeInPage {
	0% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}
